<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="AllTransactionRequest" value="{ &quot;args&quot;&#58; {&quot;uid&quot;&#58; 1110590645, &quot;token&quot;&#58;&quot;A3C37DDA3CC09AD95A0F1D6F2C4E2DB6&quot;, &quot;api-token&quot;&#58;  &quot;AppTokenForInterview&quot;, &quot;json-strict-mode&quot;&#58; false, &quot;json-verbose-response&quot;&#58; false}}"/>
    <add key="AllTransactionURI" value="https://2016.api.levelmoney.com/api/v2/core/get-all-transactions"/>
    <add key="ProjectedTransactionRequest" value="{{ &quot;args&quot;&#58; {{ &quot;uid&quot;&#58;  1110590645, &quot;token&quot;&#58;  &quot;A3C37DDA3CC09AD95A0F1D6F2C4E2DB6&quot;, &quot;api-token&quot;&#58;  &quot;AppTokenForInterview&quot;, &quot;json-strict-mode&quot;&#58; false, &quot;json-verbose-response&quot;&#58; false}}, &quot;year&quot;&#58;  {0}, &quot;month&quot;&#58;  {1}}}"/>
    <add key="ProjectedTransactionURI" value="https://2016.api.levelmoney.com/api/v2/core/projected-transactions-for-month"/>
  </appSettings>
</configuration>